.header {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    color: #edf2f4;
    font-size: 60px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.badge {
    margin-left: 20px;
    width: 6%;
}

.header-container {
    background-color: #d90429;
    width: 100%;
    padding: 1px;
}